In [1]:
# read and write using pandas

In [2]:
import os

In [3]:
pwd

'/Users/nextgn/Desktop/Git/pythonBasics'

In [4]:
#change current working directory
os.chdir('/Users/nextgn/Desktop/Git/pythonBasics')

In [5]:
# list down all objects in the current working directory
os.listdir('/Users/nextgn/Desktop/Git/pythonBasics')

['bb_data.csv',
 'EDA - beingDatum.ipynb',
 '.DS_Store',
 '06-Nested Statements and Scope.ipynb',
 '08-Files.ipynb',
 '01-Iterators and Generators.ipynb',
 '04-while Loops.ipynb',
 '01-Comparison Operators.ipynb',
 '07-Statements Assessment Test.ipynb',
 '06-Tuples.ipynb',
 'test.csv',
 '01-Numbers.ipynb',
 '06-List Comprehensions.ipynb',
 '09-Guessing Game Challenge.ipynb',
 '05-Regular Expressions - re.ipynb',
 'Cheatsheet_Python',
 'Coursera- Statistics.ipynb',
 'Pandas_1.ipynb',
 '02-Datetime.ipynb',
 '01-Decorators.ipynb',
 '05-Lambda-Expressions-Map-and-Filter.ipynb',
 '02-Strings.ipynb',
 '02-Functions.ipynb',
 '01-Variable Assignment.ipynb',
 '05-Dictionaries.ipynb',
 'Numpy_1.ipynb',
 'session 6.1 - Matplotlib.ipynb',
 '03-for Loops.ipynb',
 'test.txt',
 '.ipynb_checkpoints',
 '09-Objects and Data Structures Assessment Test.ipynb',
 '07-Sets and Booleans.ipynb',
 '04-Lists.ipynb',
 '.git',
 '03-Print Formatting with Strings.ipynb',
 '08-Functions and Methods Homework.ipynb',
 'SampleData.csv',
 'Session 1.1 - Python-Installation and Basics.ipynb',
 '02-if, elif, and else Statements.ipynb']

In [6]:
import pandas as pd

draft1 = pd.read_csv('test.csv')    # Supply the file name (path)

draft1.head(6)                           # Check the first 6 rows

,id,first_name,last_name,email,gender,ip_address
0,1,Marjorie,Jerke,mjerke0@cdbaby.com,Female,60.218.42.127
1,2,Susy,Gannicott,sgannicott1@stumbleupon.com,Female,70.138.64.49
2,3,Jessamine,Russen,jrussen2@1688.com,Female,244.68.153.219
3,4,Yard,St Louis,ystlouis3@alibaba.com,Male,119.190.73.156
4,5,Gilberta,Blaisdell,gblaisdell4@sakura.ne.jp,Female,138.207.6.71
5,6,Aloise,Reynard,areynard5@mayoclinic.com,Female,170.81.255.110

In [7]:
# Go to http://www.basketball-reference.com/leagues/NBA_2015_totals.html
# click the CSV button and then copy some data to the clipboard

BB_reference_data = pd.read_clipboard(sep=",")  # Read data from the clipboard

BB_reference_data.iloc[:, 0:5].head(5)   # Check 5 rows (10 columns only)

          da = [17   21   20   21.1      19
0        da.sort()  NaN  NaN    NaN     NaN
1  da.describe()#3  8.0  9.0    2.0   and 5

In [8]:
url = "https://simple.wikipedia.org/wiki/List_of_U.S._states"

BB_data = pd.read_html(url)         # Read data from the specified url

BB_data[0].iloc[:, 0:10].head(5)      # Check 5 rows (10 columns only)

ImportError: lxml not found, please install it

In [ ]:
#save data to 
BB_reference_data.to_csv("bb_data.csv") 

os.listdir('/Users/nextgn/Desktop/Git/pythonBasics')

In [ ]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.shape

In [ ]:
titanic_train.dtypes

In [ ]:
print( titanic_train.describe() )

In [ ]:
categorical = titanic_train.dtypes[titanic_train.dtypes == "object"].index
print(categorical)

titanic_train[categorical].describe()

In [ ]:
del titanic_train["PassengerId"]     # Remove PassengerId

In [ ]:
sorted(titanic_train["Name"])[0:15]   # Check the first 15 sorted names

In [ ]:
titanic_train["Name"].describe()

In [ ]:
titanic_train["Ticket"][0:15]       # Check the first 15 tickets

In [ ]:
titanic_train["Ticket"].describe()

In [ ]:
del titanic_train["Ticket"]        # Remove Ticket

In [ ]:
titanic_train["Cabin"][0:15]       # Check the first 15 tickets

In [ ]:
titanic_train["Cabin"].describe()  # Check number of unique cabins

In [ ]:
new_survived = pd.Categorical(titanic_train["Survived"])
new_survived = new_survived.rename_categories(["Died","Survived"])              

new_survived.describe()

In [ ]:
new_Pclass = pd.Categorical(titanic_train["Pclass"],
                           ordered=True)

new_Pclass = new_Pclass.rename_categories(["Class1","Class2","Class3"])     

new_Pclass.describe()

In [ ]:
titanic_train["Pclass"] = new_Pclass

In [ ]:
titanic_train["Cabin"].unique()   # Check unique cabins

In [ ]:
char_cabin = titanic_train["Cabin"].astype(str) # Convert data to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

new_Cabin = pd.Categorical(new_Cabin)

new_Cabin .describe()

In [ ]:
titanic_train["Cabin"] = new_Cabin

In [ ]:
dummy_vector = pd.Series([1,None,3,None,7,8])

dummy_vector.isnull()

In [ ]:
missing = np.where(titanic_train["Age"].isnull() == True)
missing

In [ ]:
len(missing[0])

In [ ]:
index = np.where(titanic_train["Fare"] == max(titanic_train["Fare"]) )

titanic_train.loc[index]

In [ ]:
titanic_train["Family"] = titanic_train["SibSp"] + titanic_train["Parch"]

most_family = np.where(titanic_train["Family"] == max(titanic_train["Family"]))

titanic_train.ix[most_family]

In [ ]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print ("Labels:", labels)
print("My data:", my_data)
print("Dictionary:", d)

In [ ]:
pd.Series(data=my_data, index=labels)

In [ ]:
print ("\nHolding numerical data\n",'-'*25, sep='')
print(pd.Series(arr))

In [ ]:
print ("\nHolding text labels\n",'-'*20, sep='')
print(pd.Series(labels))

In [ ]:
print ("\nHolding functions\n",'-'*20, sep='')
print(pd.Series(data=[sum,print,len]))

In [ ]:
print ("\nHolding objects from a dictionary\n",'-'*40, sep='')
print(pd.Series(data=[d.keys, d.items, d.values]))

In [ ]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'AZ'])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])

In [ ]:
print ("\nIndexing by name of the item/object (string identifier)\n",'-'*56, sep='')
print("Value for CA in ser1:", ser1['CA'])
print("Value for AZ in ser1:", ser1['AZ'])
print("Value for NV in ser2:", ser2['NV'])

In [ ]:
print ("\nIndexing by number (positional value in the series)\n",'-'*52, sep='')
print("Value for CA in ser1:", ser1[0])
print("Value for AZ in ser1:", ser1[3])
print("Value for NV in ser2:", ser2[2])

In [ ]:
print ("\nIndexing by a range\n",'-'*25, sep='')
print ("Value for OR, CO, and AZ in ser1:\n", ser1[1:4], sep='')

In [ ]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'AZ'])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])
ser3 = ser1+ser2

In [ ]:
print ("\nAfter adding the two series, the result looks like this...\n",'-'*59, sep='')
print(ser3)
print("\nPython tries to add values where it finds common index name, and puts NaN where indices are missing\n")

In [ ]:
print ("\nThe idea works even for multiplication...\n",'-'*43, sep='')
print (ser1*ser2)

In [ ]:
print ("\nOr even for combination of mathematical operations!\n",'-'*53, sep='')
print (np.exp(ser1)+np.log10(ser2))

In [ ]:
from numpy.random import randn as rn
np.random.seed(101)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe data frame looks like\n",'-'*45, sep='')
print(df)

In [ ]:
print("\nThe 'X' column\n",'-'*25, sep='')
print(df['X'])

In [ ]:
print("\nType of the column: ", type(df['X']), sep='')
print("\nThe 'X' and 'Z' columns indexed by passing a list\n",'-'*55, sep='')
print(df[['X','Z']])

In [ ]:
print("\nType of the pair of columns: ", type(df[['X','Z']]), sep='')
print ("\nSo, for more than one column, the object turns into a DataFrame")

In [ ]:
print("\nThe 'X' column accessed by DOT method (NOT recommended)\n",'-'*55, sep='')
print(df.X)

In [ ]:
print("\nA column is created by assigning it in relation to an existing column\n",'-'*75, sep='')
df['New'] = df['X']+df['Z']
df['New (Sum of X and Z)'] = df['X']+df['Z']
print(df)

In [ ]:
print("\nA column is dropped by using df.drop() method\n",'-'*55, sep='')
df = df.drop('New', axis=1) # Notice the axis=1 option, axis = 0 is default, so one has to change it to 1
print(df)

In [ ]:
df1=df.drop('A')
print("\nA row (index) is dropped by using df.drop() method and axis=0\n",'-'*65, sep='')
print(df1)

In [ ]:
print("\nAn in-place change can be done by making inplace=True in the drop method\n",'-'*75, sep='')
df.drop('New (Sum of X and Z)', axis=1, inplace=True)
print(df)

In [ ]:
### Selecting/indexing Rows
#* Label-based 'loc' method
#* Index (numeric) 'iloc' method

In [ ]:
print("\nLabel-based 'loc' method can be used for selecting row(s)\n",'-'*60, sep='')
print("\nSingle row\n")
print(df.loc['C'])

In [ ]:
print("\nMultiple rows\n")
print(df.loc[['B','C']])

In [ ]:
print("\nIndex position based 'iloc' method can be used for selecting row(s)\n",'-'*70, sep='')
print("\nSingle row\n")
print(df.iloc[2])

In [ ]:
print("\nMultiple rows\n")
print(df.iloc[[1,2]])

In [ ]:
#### Subsetting DataFrame

In [ ]:
np.random.seed(101)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

In [ ]:
print("\nThe DatFrame\n",'-'*45, sep='')
print(df)

In [ ]:
print("\nElement at row 'B' and column 'Y' is\n") 
print(df.loc['B','Y'])

In [ ]:
print("\nSubset comprising of rows B and D, and columns W and Y, is\n")
df.loc[['B','D'],['W','Y']]

In [ ]:
print("\nThe DataFrame\n",'-'*45, sep='')
print(df)

In [ ]:
print("\nBoolean DataFrame(s) where we are checking if the values are greater than 0\n",'-'*75, sep='')
print(df>0)

In [ ]:
print("\n")
print(df.loc[['A','B','C']]>0)

In [ ]:
booldf = df>0
print("\nDataFrame indexed by boolean dataframe\n",'-'*45, sep='')
print(df[booldf])

In [ ]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

In [ ]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nA new DataFrame\n",'-'*25, sep='')
print(df)

In [ ]:
print("\nRows with Height > 65 inch\n",'-'*35, sep='')
print(df[df['Height']>65])

In [ ]:
booldf1 = df['Height']>65
booldf2 = df['Weight']>145

In [ ]:
print("\nRows with Height > 65 inch and Weight >145 lbs\n",'-'*55, sep='')
print(df[(booldf1) & (booldf2)])

In [ ]:
print("\nDataFrame with only Age and Weight columns whose Height > 65 inch\n",'-'*68, sep='')
print(df[booldf1][['Age','Weight']])

In [ ]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

In [ ]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe DataFrame\n",'-'*25, sep='')
print(df)

In [ ]:
print("\nAfter resetting index\n",'-'*35, sep='')
print(df.reset_index())

In [ ]:
print("\nAfter resetting index with 'drop' option TRUE\n",'-'*45, sep='')
print(df.reset_index(drop=True))

In [ ]:
print("\nAdding a new column 'Profession'\n",'-'*45, sep='')
df['Profession'] = "Student Teacher Engineer Doctor Nurse".split()
print(df)

In [ ]:
print("\nSetting 'Profession' column as index\n",'-'*45, sep='')
print (df.set_index('Profession'))

In [ ]:
#multi-indexing
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [ ]:
print("\nTuple pairs after the zip and list command\n",'-'*45, sep='')
print(hier_index)

In [ ]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
print("\nIndex hierarchy\n",'-'*25, sep='')
print(hier_index)

In [ ]:
print("\nIndex hierarchy type\n",'-'*25, sep='')
print(type(hier_index))

In [ ]:
print("\nCreating DataFrame with multi-index\n",'-'*37, sep='')
np.random.seed(101)
df1 = pd.DataFrame(data=np.round(rn(6,3),2), index= hier_index, columns= ['A','B','C'])
print(df1)

In [ ]:
print("\nSubsetting multi-index DataFrame using two 'loc' methods\n",'-'*60, sep='')
print(df1.loc['G2'].loc[[1,3]][['B','C']])

In [ ]:
print("\nNaming the indices by 'index.names' method\n",'-'*45, sep='')
df1.index.names=['Outer', 'Inner']
print(df1)

In [ ]:
#cross tabulation like pivot table

In [ ]:
print("\nGrabbing a cross-section from outer level\n",'-'*45, sep='')
print(df1.xs('G1'))

In [ ]:
print("\nGrabbing a cross-section from inner level (for all outer levels)\n",'-'*65, sep='')
print(df1.xs(2,level='Inner'))

In [19]:
import pandas as pd
import numpy as np
da = [17, 21, 20, 21, 19, 18, 21, 20, 20, 17, 19, 20]
da.sort()
da #3, 8, 9, 2, and 5

[17, 17, 18, 19, 19, 20, 20, 20, 20, 21, 21, 21]